	html {
		font-size:18px;
	}
	body {
		background:#ccc;
		padding:20px;

	}
	body, input, textarea, button, select {
		font-family:Arial;
	}
	section {
		border:1px solid #000;
		width:500px;
		height:400px;
	  padding:20px;
		background:#fff;
		font-size:1.25em;
		display:none;
	}
	section.aktiv {
		display:block;
	}
	nav ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	nav li {
		display:inline-block;
		border:1px solid #000;
		background:#666;
		position:relative;
		top:1px;
	}
	nav a {
		text-decoration:none;
		color:#000;
		padding:10px 20px;
		display:block;
	}
	nav li:hover,
	nav li.aktiv {
		background:#fff;
		border-bottom-color:#fff;
	}
